body {background-color: #83bdbf;}
h1 {color: white;}
p  {color: white;}

#navigation-table {width: 800px;}

#navigation-td { padding-left: 70px;
                 padding-right: 70px;
                 padding-top: 10px;
                 padding-bottom: 10px;
                 text-align: center;}


